h1{
    margin: 30px;
}

h2{
    padding: 20px;
}

.line{
    border: 2px solid black;
}

.full{
    width: 100%;
}

.menu{
    border:4em solid white;
    border-top: 2em;
}

.menu-item{
    padding:1.5em;
}